body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #ff758c, #ff7eb3);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}

/* LOCKSCREEN */
#lockscreen {
    position: fixed;
    background: linear-gradient(to right, #ff758c, #ff7eb3);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

#lockscreen input {
    padding: 10px;
    border-radius: 10px;
    border: none;
    margin: 10px 0;
}

#lockscreen button {
    padding: 8px 15px;
    border-radius: 10px;
    border: none;
    background: white;
    color: #ff4e73;
    font-weight: bold;
}

/* CARD */
.card {
    background: white;
    padding: 25px;
    border-radius: 20px;
    text-align: center;
    width: 320px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
    margin-top: 20px;
}

.photo {
    width: 150px;
    border-radius: 15px;
    margin: 10px 0;
}

button {
    background: #ff4e73;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background: #ff2e5f;
}

.hidden {
    display: none;
}

#countdown {
    color: white;
    margin-top: 20px;
    font-size: 18px;
}

/* TIMELINE */
.timeline {
    margin-top: 40px;
    padding: 20px;
    background: rgba(255,255,255,0.2);
    border-radius: 20px;
    color: white;
    width: 90%;
    max-width: 400px;
}

.moment {
    margin-bottom: 20px;
    padding: 10px;
    background: rgba(255,255,255,0.3);
    border-radius: 15px;
}

/* HEART FLOAT */
.heart {
    position: fixed;
    bottom: -20px;
    font-size: 20px;
    animation: float 5s linear infinite;
}

@keyframes float {
    from { transform: translateY(0); opacity:1;}
    to { transform: translateY(-100vh); opacity:0;}
}

#bgVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -2;
    object-fit: cover;
}

.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4);
    z-index: -1;
}

.gallery {
    margin-top: 40px;
    text-align: center;
    color: white;
}

.slider {
    width: 100%;
    max-width: 300px;
    margin: 15px auto;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    border-radius: 20px;
    scroll-behavior: smooth;
}

.slides {
    display: flex;
}

.slides img {
    width: 100%;
    flex: 0 0 100%;
    aspect-ratio: 9 / 16;
    object-fit: contain;
    scroll-snap-align: center;
    background: black;
    border-radius: 20px;
}

/* DOTS */
.dots {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    gap: 8px;
}

.dot {
    width: 8px;
    height: 8px;
    background: rgba(255,255,255,0.5);
    border-radius: 50%;
    transition: all 0.3s ease;
}

.dot.active {
    background: white;
    transform: scale(1.3);
}

